# Compilation directories
/target/
/bin/

# IDE configuration (IntelliJ)
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Dependencies and artifacts
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-check-report.html
dependency-check-report.json
.mvn/wrapper/maven-wrapper.jar

# Log files
*.log

# Sensitive configuration files (if you use Spring Boot)
# For security, ignore files that contain sensitive information
# and only upload a template (e.g., empty application.properties)
# You can ignore specific profile files for local development
# For example, if you have 'application-dev.yml' with keys
# application-dev.yml

# Docker Compose environment variables file
.env
